/* 全体構成 */
body {
	margin: 0;
	padding: 0;
	background-color: #CEE;
}
#base{
	margin: 0;
	padding: 10px 2%;
}
#containts{
	margin: 0;
	padding-top:5px;
	padding-bottom:5px;
	background-color: #FFF;
	/* text-align: center; */
}
/* 標準化、リセット */
*{
	line-height: 1.8em;
	font-family:
		'Lucida Grande',
		'Hiragino Kaku Gothic ProN',
		'ヒラギノ角ゴ ProN W3',
		Meiryo, メイリオ, sans-serif;
	font-size: 1.0em;
}
/* 文章 */
p {
	/* border: solid 1px #f00; */
	margin: 5px;
	padding: 0;
	line-heigh: 1.8em;
}
ul, ol {
	/* border: solid 1px #f00; */
	margin: 5px;
	/*padding: 0;*/
}
ul.nowrap {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.nowrap li{
	display: inline;
}
ul.nowrap li a:hover{
	border-left: 1px solid #474655;
	border-right: 1px solid #474655;
	border-top: 1px solid #474655;
	border-bottom: 1px solid #474655;
	background-color: #F3D898;
}
p:first-letter {
	margin-left: 1.0em;
}
p.notice {
	border: 1px dotted #cccccc;
}

/* table */
table,
th,
td {
	border-collapse: collapse;
	border-spacing: 0;
}
table {
	width: auto;
	margin: 10px;
	padding: 5px;
	border: 1px solid #333333;
}

table th,
table td {
	padding: 3px;
}
th {
	border-bottom: 1px dotted #333333;
	white-space: nowrap;
}
td {
	border: 1px dotted #333333;
}


/* レスポンシブ対応 */
#mobile{
	display:none;
}
@media screen and (max-width:350px){

	* {
		font-size: 98%;
	}
	body {
		margin: 0;
		padding: 0;
		background-color: #CEE;
	}
	#base{
		margin: 0;
		padding: 2px 1%;
	}
	#containts{
		margin: 0;
		padding-top:1px;
		padding-bottom:1px;
		background-color: #FFF;
	}
	ul, ol {
		margin: 0;
		padding: 0;
		padding-left: 0em;
	}
	table {
		width: 80%;
		margin: 0 auto;
		padding: 5px;
		border: 0px solid #333333;
	}
	th, td {
		display: block;
		border: 1px solid #333333;
	}
	/* mobile用のリンク */
	a[href] {
		display: block;
		position: relative;
		border: 1px solid #ccc;
		background: linear-gradient(#fff, #f0f0f0);
		border-top: 1px solid #ccc;
		padding: 10px;
		padding-right: 30px;
		margin: 1px;
		text-decoration: none;
	}
	p a[href] {
		display: inline;
		position: relative;
		border: 1px solid #ccc;
		background: linear-gradient(#fff, #f0f0f0);
		border-top: 1px solid #ccc;
		padding: 1px;
		margin: 1px;
		text-decoration: none;
	}
	a[href]:after {
		display: block;
		position: absolute;
		top: 50%;
		right: 10px;
		width: 20px;
		height: 20px;
		margin-top: -15px;
		content: "≫";
		font-size: 150%;
		font-weight: bold;
	}
	p a[href]:after {
		display: inline;
		position: absolute;
		top: 50%;
		right: 10px;
		width: 20px;
		height: 20px;
		margin-top: -15px;
		content: "";
		font-size: 150%;
		font-weight: bold;
	}
	/* mobile版であることを表すFotter */
	#mobile{
		display:block;
		/*position: relative;*/
		position: fixed ;
		width: 100%;
		bottom: 0;
		left: 0;
		/*border: 1px solid #ccc;*/
		padding: 1px;
		margin: 0;
		background-color : #0FE;
		text-decoration: none;
		font-size: 0.8em;
		color: #FFF;
		opacity: 0.80;
	}
}
