@charset "utf-8";

:root {
	--color-on: #bd7878;
	--color-off: #78bd78;
}
.switchArea {
	line-height: 60px;
	letter-spacing: 0;
	text-align: center;
	font-size: 27px;
	position: relative;
	width: 330px;
	background: #fff;
}

.switchArea input[type="checkbox"] {
	display: none;
}

.switchArea label {
	display: block;
	box-sizing: border-box;
	height: 60px;
	border-radius: 30px;
	border: 2px solid var(--color-off);
}

.switchArea input[type="checkbox"]:checked+label {
	border-color: var(--color-on);
}

.switchArea #swImg {
	position: absolute;
	width: 52px;
	height: 52px;
	top: 4px;
	left: 4px;
	border-radius: 26px;
	transition: .5s;
	background: var(--color-off);
}

.switchArea input[type="checkbox"]:checked+label #swImg {
	transform: translateX(270px);
	background: var(--color-on);
}
